<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs Game</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the fields below to find out about new toy!</h1>
    <form action="/toy_story" method="post">

      <label for="picture1">Link To A Toy Picture</label>
      <input id="picture1" name="picture1" type="text">

      <label for="exclamation1">Exclamation</label>
      <input id="exclamation1" name="exclamation1" type="text">

      <label for="sound1">Sound</label>
      <input id="sound1" name="sound1" type="text">

      <label for="adjective1">Adjective</label>
      <input id="adjective1" name="adjective1" type="text">

      <label for="noun1">Noun</label>
      <input id="noun1" name="noun1" type="text">

      <label for="month1">A Month</label>
      <input id="month1" name="month1" type="text">

      <label for="sound2">Sound</label>
      <input id="sound2" name="sound2" type="text">

      <label for="adjective2">Adjective</label>
      <input id="adjective2" name="adjective2" type="text">

      <label for="noun2">Noun</label>
      <input id="noun2" name="noun2" type="text">

      <label for="verb1">Verb</label>
      <input id="verb1" name="verb1" type="text">

      <label for="verb2">Verb</label>
      <input id="verb2" name="verb2" type="text">

      <label for="drink1">A Drink</label>
      <input id="drink1" name="drink1" type="text">

      <label for="number1">Number</label>
      <input id="number1" name="number1" type="text">

      <label for="color1">Color</label>
      <input id="color1" name="color1" type="text">

      <label for="color2">Color</label>
      <input id="color2" name="color2" type="text">

      <label for="number2">Number</label>
      <input id="number2" name="number2" type="text">

      <label for="noun3">Plural Noun</label>
      <input id="noun3" name="noun3" type="text">

      <label for="noun4">Plural Noun</label>
      <input id="noun4" name="noun4" type="text">

      <button type="submit">Go!</button>
    </form>
  </body>
</html>
