<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs Game</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the fields below to check your day at the Zoo!</h1>
    <form action="/zoo" method="post">
     <label for="adjective1">Adjective</label>
     <input id="adjective1" name="adjective1" type="text">

     <label for="noun1">Noun</label>
     <input id="noun1" name="noun1" type="text">

     <label for="verb1">Verb Past Tense</label>
     <input id="verb1" name="verb1" type="text">

     <label for="adverb1">Adverb</label>
     <input id="adverb1" name="adverb1" type="text">

     <label for="adjective2">Adjective</label>
     <input id="adjective2" name="adjective2" type="text">

     <label for="noun2">Noun</label>
     <input id="noun2" name="noun2" type="text">

     <label for="noun3">Noun</label>
     <input id="noun3" name="noun3" type="text">

     <label for="adjective3">Adjective</label>
     <input id="adjective3" name="adjective3" type="text">

     <label for="verb2">Verb</label>
     <input id="verb2" name="verb2" type="text">

     <label for="adverb2">Adverb</label>
     <input id="adverb2" name="adverb2" type="text">

     <label for="verb3">Verb Past Tense</label>
     <input id="verb3" name="verb3" type="text">

     <label for="adjective4">Adjective</label>
     <input id="adjective4" name="adjective4" type="text">
     
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
